@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
	padding: 4rem;
	max-height: 100vh;
	max-height: 100dvh;
	overflow: auto;
}

.heading {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;

	h1 {
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 140%;
	}

	p {
		font-size: 0.875rem;
		line-height: 1.8;
		margin-top: 0.8rem;
	}

	button {
		padding: 0.94rem 1.25rem;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		align-content: center;
		gap: 0.62rem;

		&::before {
			content: "";
			width: 0.9375rem;
			height: 0.75rem;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: $filter;
		}
	}
}

.countryGridCont {
	margin-top: 2rem;
}

.asidePanel {
	position: absolute;
	top: 1.25rem;
	bottom: 1.25rem;
	left: 1.25rem;
	z-index: 20;
	width: 20.375rem;
	max-width: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;

	.close {
		position: absolute;
		width: 1.875rem;
		height: 1.875rem;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: 0.625rem;
		background-image: $close !important;
		width: 1.875rem;
		height: 1.875rem;
		border-radius: 0.625rem;
		background: rgba(28, 28, 28, 0.6);
		top: 0;
		right: -0.62rem;
		transform: translateX(100%);
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}

	& > aside {
		overflow: auto;
		height: calc(100vh - 2.5rem);
		height: calc(100dvh - 2.5rem);
		min-height: inherit;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@media screen and (min-width: 1880px) {
	.countryGridCont {
		& > ul {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media screen and (max-width: 1140px) {
	.profileContent {
		padding: 7.5rem 1rem 3.75rem 1rem;
	}
}
