@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.socials__list {
	@include flex-btv;
	gap: 0 0.3125rem;

	a {
		@include flex-center;
		border-radius: 50%;
		border: 0.0625rem solid $color-light;
		width: 3.25rem;
		height: 3.25rem;
		background-color: $color-gray;
		transition: all 0.15s ease-in;

		&:hover {
			opacity: 0.8;
		}
	}
}

@media screen and (max-width: 1140px) {
	.socials__list {
		a {
			width: 2.875rem;
			height: 2.875rem;

			&:hover {
				opacity: 1;
			}
		}
	}
}
