@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 5.6rem;
	position: relative;
	overflow: hidden;
}

.titleLoading {
	height: 3.5rem;
	width: 35rem;
}

.title {
	font-size: 2.5rem;
	line-height: 1.4;
}

.subtitleLoading {
	height: 2.375rem;
	width: 19rem;
}

.descLoading {
	width: 100%;
	span {
		height: 1.5rem;
		display: block;
		margin-bottom: 0.313rem;

		&:last-child {
			width: 80%;
			margin-bottom: 0;
		}
	}
}

.addBtnLoading {
	width: 14rem;
	height: 4.4375em;
}

.content {
	margin-top: 2.87rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: flex-start;
	gap: 3.75rem;
}

.imageGrid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1.37rem;

	img {
		@include img-cover;
	}

	div:nth-child(1) {
		grid-area: 1 / 1 / 2 / 3;
	}
	div:nth-child(2) {
		grid-area: 1 / 3 / 2 / 4;
	}
	div:nth-child(3) {
		grid-area: 2 / 1 / 3 / 2;
	}
	div:nth-child(4) {
		grid-area: 2 / 2 / 3 / 4;
	}
}

.imageItem {
	position: relative;
	overflow: hidden;
	height: 18.875rem;
	border-radius: 1.25rem;
}

.textBlock {
	width: 100%;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 500;
}

.desc {
	font-size: 1.125rem;
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.6;
	margin-top: 1rem;

	& > * {
		margin-top: 1rem;

		&:first-child {
			margin-top: 0;
		}
	}
}

.addBtn {
	margin-top: 2.62rem;
}

@media screen and (max-width: 1880px) {
	.profilePage {
		padding-top: 4.56rem;

		.titleLoading {
			height: 2.4375rem;
			width: 30rem;
		}

		.title {
			font-size: 1.75rem;
		}

		.subtitleLoading {
			height: 2.125rem;
			width: 16rem;
		}

		.descLoading {
			span {
				height: 1.25rem;
				display: block;
				margin-bottom: 0.375rem;
			}
		}

		.content {
			margin-top: 1.88rem;
			gap: 2rem;
		}

		.imageGrid {
			gap: 0.94rem;
		}

		.imageItem {
			height: 13.8125rem;
		}

		.subtitle {
			font-size: 1.3125rem;
		}

		.desc {
			font-size: 1rem;
			margin-top: 0.94rem;

			& > * {
				margin-top: 0.94rem;
			}
		}

		.addBtn {
			margin-top: 2rem;
		}
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.75rem;
	}

	.titleLoading {
		height: 2.25rem;
		max-width: 25rem;
		width: 100%;
	}

	.title {
		font-size: 1.625rem;
	}

	.subtitleLoading {
		height: 1.8125rem;
		max-width: 15rem;
		width: 100%;
	}

	.descLoading {
		width: 100%;
		span {
			height: 1.125rem;
			margin-bottom: 0.5rem;
		}
	}

	.addBtnLoading {
		width: 100%;
		height: 2.875em;
	}

	.content {
		margin-top: 1.94rem;
		gap: 2rem;
	}

	.imageGrid {
		gap: 1.24rem;
	}

	.imageItem {
		height: 12.5rem;
	}

	.textBlock {
		width: 100%;
	}

	.subtitle {
		font-size: 1.125rem;
	}

	.desc {
		font-size: 0.875rem;
		margin-top: 0.69rem;

		& > * {
			margin-top: 0.94rem;
		}
	}

	.addBtn {
		margin-top: 2.13rem;
		width: 100%;
	}

	.profilePage {
		padding-top: 3.75rem;

		.titleLoading {
			height: 2.25rem;
			max-width: 25rem;
			width: 100%;
		}

		.title {
			font-size: 1.625rem;
		}

		.subtitleLoading {
			height: 1.8125rem;
			width: 100%;
		}

		.descLoading {
			span {
				height: 1.125rem;
				margin-bottom: 0.5rem;
			}
		}

		.content {
			margin-top: 1.94rem;
			gap: 2rem;
		}

		.imageGrid {
			gap: 1.24rem;
		}

		.imageItem {
			height: 12.5rem;
		}

		.subtitle {
			font-size: 1.125rem;
		}

		.desc {
			font-size: 0.875rem;
			margin-top: 0.69rem;
		}

		.addBtn {
			margin-top: 2.13rem;
		}
	}
}

@media screen and (max-width: 868px) {
	.content {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 480px) {
	.imageGrid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);

		div:nth-child(1) {
			grid-area: 1 / 1 / 2 / 3;
		}
		div:nth-child(2) {
			grid-area: 2 / 1 / 3 / 2;
		}
		div:nth-child(3) {
			grid-area: 2 / 2 / 3 / 3;
		}
		div:nth-child(4) {
			grid-area: 3 / 1 / 4 / 3;
		}
	}
}
