@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
	padding: 4rem;
	min-height: 100vh;
	min-height: 100dvh;
	max-height: 100vh;
	max-height: 100dvh;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.titleLoading {
	width: 28.5rem;
	height: 2.3475rem;
}

.descLoading {
	margin-top: 0.8rem;
	width: 40.5rem;
	height: 3.125rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 1.25rem;

		&:last-child {
			width: 80%;
		}
	}
}

.priceLoading {
	width: 14.0375rem;
	height: 3.3125rem;
}

.btnLoading {
	height: 3.25rem;

	&::after {
		display: none;
	}
}

.success {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
}

.success__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 30rem;
	line-height: 1.6;

	.ico {
		margin-bottom: 1.125rem;
		width: 4.375rem;

		img {
			width: 100%;
		}
	}
	.title {
		font-size: 1.75rem;
		font-weight: 600;
	}
	.text {
		margin-top: 0.875rem;
		font-size: 1.125rem;
	}
	.btn {
		margin-top: 2rem;
		min-width: 15.625rem;
	}
}

@media screen and (max-width: 1140px) {
	.profileContent {
		padding: 7.5rem 1rem 3.75rem 1rem;
	}

	.success__body {
		max-width: 25rem;

		.ico {
			margin-bottom: 1rem;
			width: 3.125rem;
		}
		.title {
			font-size: 1.3125rem;
		}
		.text {
			margin-top: 0.625rem;
			font-size: 1rem;
		}
		.btn {
			margin-top: 1.375rem;
			min-width: 21.4375rem;
		}
	}
}

@media screen and (max-width: 768px) {
}
