@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.44rem;
}

.loadingGridF {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr;
	width: 100%;
	padding-top: 4rem;
}

@media screen and (max-width: 1140px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
}

@media screen and (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr;
	}
}
