@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 5.44rem;
	padding-bottom: 6.25rem;
	position: relative;
}

.loadingTitle {
	height: 3.5rem;
	width: 100%;
	max-width: 25rem;
	display: block;
}

.content {
	position: relative;
	z-index: 2;
}

.header {
	max-width: 50rem;
}

.title {
	font-size: 2.5rem;
}

.cardsCont {
	margin-top: 2.62rem;
	position: relative;
}

.cards {
	justify-content: space-between;
	display: flex;
	z-index: 1;
}

.card {
	width: 15.5rem;
	height: 15.5rem;
	padding: 0.87rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	align-content: center;
	position: static;
	align-items: flex-start;
	align-content: flex-start;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("/aboutPage/circle2.png");

	&:nth-child(1) {
		margin-top: 7.875rem;
	}

	&:nth-child(2) {
		margin-top: 0.875rem;
		transform: rotate(-74.96deg);

		.cardInner {
			transform: rotate(74.96deg);
		}
	}

	&:nth-child(3) {
		margin-top: 7.875rem;
		transform: rotate(150deg);

		.cardInner {
			transform: rotate(-150deg);
		}
	}

	&:nth-child(4) {
		transform: rotate(248deg);

		.cardInner {
			transform: rotate(-248deg);
		}
	}

	.iconWrapper {
		width: 2.1875rem;
		height: 2.1875rem;
		position: relative;

		img {
			@include img-contain;
		}
	}
}

.cardInner {
	background-color: $color-gray2;
	border-radius: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.94rem;
	padding: 0.81rem;
	height: 100%;
	position: relative;
	z-index: 2;
}

.text {
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 1.4;
	position: relative;
	text-align: center;
}

.wave {
	position: absolute;
	min-width: 121rem;
	width: 121rem;
	height: 15.49744rem;
	left: 50%;
	top: 6.34rem;
	transform: translateX(-50%);
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.4375rem;
		padding-bottom: 3.75rem;
	}

	.header {
		max-width: 43.75rem;
	}

	.title {
		font-size: 1.3125rem;
	}

	.loadingTitle {
		height: 1.875rem;
		max-width: 18.75rem;
	}

	.cardsCont {
		margin-top: 0;
		padding-top: 2rem;
	}

	.card {
		width: 11.375rem;
		height: 11.375rem;
		padding: 0.625rem;

		&:nth-child(1) {
			margin-top: 5.625rem;
		}

		&:nth-child(2) {
			margin-top: 0.625rem;
		}

		&:nth-child(3) {
			margin-top: 5.625rem;
		}

		.iconWrapper {
			width: 1.6875rem;
			height: 1.6875rem;
		}
	}

	.cardInner {
		gap: 0.75rem;
		padding: 0.875rem;
	}

	.text {
		font-size: 1rem;
	}

	.wave {
		min-width: calc(100% + 2rem);
		width: calc(100% + 2rem);
		height: auto;
		top: 5rem;
	}
}

@media screen and (max-width: 868px) {
	.cardsCont {
		overflow: hidden;
	}

	.cards {
		justify-content: stretch;
		flex-direction: column;
		align-items: center;
	}

	.card {
		width: 11.375rem;
		height: 11.375rem;
		padding: 0.625rem;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-top: 0;
		}

		&:nth-child(1) {
			margin-right: 8.75rem;
		}
		&:nth-child(2) {
			margin-left: 8.75rem;
			margin-top: -2.5rem;
		}
		&:nth-child(3) {
			margin-right: 8.75rem;
			margin-top: -2.5rem;
		}
		&:nth-child(4) {
			margin-left: 8.75rem;
			margin-top: -2.5rem;
		}

		.iconWrapper {
			width: 1.6875rem;
			height: 1.6875rem;
		}
	}

	.wave {
		top: 10rem;
		left: 50%;
		transform: translateX(-46%) rotate(-90deg) rotateY(180deg);
		width: 42.3125rem;
		min-width: 42.3125rem;
		height: 8.125rem;
	}
}
