@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
	padding: 4rem;
	max-height: 100vh;
	max-height: 100dvh;
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.875rem;
}

.headding {
	.title {
		font-size: 1.75rem;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
	}

	.subtitle {
		margin-top: 0.88rem;
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: 1.87rem;
}

.grayPlate {
	border-radius: 1.25rem;
	background-color: #1c1c1c;
	padding: 1.5rem;
}

.emailPlate {
	display: flex;
	justify-content: space-between;
}

.email__part {
	span {
		display: block;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.4;
	}

	p {
		margin-top: 0.44rem;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.4;
	}
}

.logoutBtn {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 0.62rem;
	padding-top: 0.94rem;
	padding-bottom: 0.94rem;

	&::after {
		content: "";
		flex-shrink: 0;
		width: 1.125rem;
		height: 1rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: $exit;
	}
}

.cardTitle {
	font-size: 1.3125rem;
	font-weight: 500;
	line-height: 1.4;
}

.inputField {
	margin-top: 0.875rem;

	.label {
		margin-bottom: 0.875rem;
		display: block;
		color: rgba(255, 255, 255, 0.6);
	}

	.input {
		background-color: transparent;
	}
}

.errorText {
	margin-top: 0.5rem;
	color: #f94a51;
}

.fields {
	margin-top: 0.875rem;
	display: flex;
	flex-direction: column;
	gap: 1.31rem;

	.inputField {
		margin: 0;
	}
}

.fullH {
	height: 100%;
}

.saveBtn {
	margin-top: 1.87rem;
	padding-top: 0.94rem;
	padding-bottom: 0.94rem;
	position: relative;

	span {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: -0.0625rem;
		left: -0.0625rem;
		right: -0.0625rem;
		bottom: -0.0625rem;
		z-index: 2;
		background-color: $red2;
		transition: all 0.15s ease-in;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 3;
			transform: translateX(-50%) translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			border: 0.25rem solid $color-light;
			border-bottom-color: transparent;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			animation: rotation 1s linear infinite;
		}
	}
}
.load {
	span {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes rotation {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}

@media screen and (max-width: 1140px) {
	.profileContent {
		padding: 7.5rem 1rem 3.75rem 1rem;
		grid-template-columns: none;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;
	}

	.headding {
		margin-bottom: 0.75rem;

		.title {
			font-size: 1.3125rem;
		}

		.subtitle {
			margin-top: 0.9375rem;
			font-size: 0.875rem;
		}
	}

	.column {
		gap: 0.625rem;
	}

	.grayPlate {
		padding: 1.25rem 1.5rem 1.5rem 1.5rem;
	}

	.emailPlate {
		align-items: center;
	}

	.email__part {
		span {
			font-size: 0.75rem;
		}

		p {
			margin-top: 0.75rem;
			font-size: 0.875rem;
		}
	}

	.logoutBtn {
		position: relative;
		width: 2.875rem;
		height: 2.875rem;
		padding: 0;

		span {
			display: none;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.cardTitle {
		font-size: 1rem;
	}

	.inputField {
		.label {
			margin-bottom: 0.75rem;
			font-size: 0.75rem;
		}
	}

	.errorText {
		margin-top: 0.375rem;
		font-size: 0.75rem;
	}

	.fields {
		gap: 1rem;
	}

	.saveBtn {
		margin: 1.5rem auto 0 auto;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
		width: 100%;
		max-width: 21.4375rem;

		span {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: -0.0625rem;
			left: -0.0625rem;
			right: -0.0625rem;
			bottom: -0.0625rem;
			z-index: 2;
			background-color: $red2;
			transition: all 0.15s ease-in;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 3;
				transform: translateX(-50%) translateY(-50%);
				width: 1.5rem;
				height: 1.5rem;
				border: 0.25rem solid $color-light;
				border-bottom-color: transparent;
				border-radius: 50%;
				display: inline-block;
				box-sizing: border-box;
				animation: rotation 1s linear infinite;
			}
		}
	}
}
