@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 4.56rem;
	padding-bottom: 5.52rem;
	position: relative;
	overflow: hidden;
}

.sectionLoading {
	.leftpart,
	.heroList {
		&::after {
			display: none;
		}
	}
}

.loadingTag {
	width: 100%;
	max-width: 32.75rem;
	height: 2.35rem;
	border-radius: 1.25rem;
	display: inline-block;
}

.loadingTitleCont {
	margin-top: 1.06rem;
}

.loadingTitle {
	height: 6.125rem;
	width: 100%;
	max-width: 21rem;
	display: block;
}

.loadingSubtitleCont {
	height: 7rem;
	margin-top: 0.44rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 3.25rem;
		display: block;
		width: 100%;

		&:last-child {
			max-width: 23.5rem;
		}
	}
}

.loadingTextCont {
	height: 6rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		width: 100%;
		height: 1.5rem;

		&:last-child {
			width: 50%;
		}
	}
}

.loadingItem {
	height: 13.0625rem;

	&::after {
		display: none;
	}
}

.loadingBtn {
	width: 12.75rem;
	height: 4.3rem;
}

.rightpartLoading {
	width: 100%;
	max-width: 40.625rem;

	span {
		width: 100%;
		padding-top: 100%;
		border-radius: 50%;
		display: block;
	}
}

.content {
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

.leftpart {
	width: 100%;
	max-width: 38.1rem;
	position: relative;
	z-index: 2;

	.dec {
		position: absolute;
		width: 9rem;
		height: 8.4375rem;
		right: 7.25rem;
		bottom: -2rem;
		background-image: url("/aboutPage/dec1.png");
	}
}

.rightPart {
	width: 100%;
	max-width: 40.625rem;

	canvas {
		width: 100% !important;
		height: auto !important;
	}
}

.tag {
	padding: 0.5625rem 0.9375rem;
	border-radius: 1.25rem;
	background-color: $color-bages;
	color: $color-sec;
	gap: 0.44rem;
	display: inline-flex;
	align-items: center;
	align-content: center;

	img {
		height: 0.875rem;
		width: auto;
	}
}

.title {
	margin-top: 1.06rem;
	font-size: 4.375rem;
	color: $color-yellow;
}

.Undertitle {
	font-size: 2.5rem;
	margin-top: 0.44rem;
}

.text {
	margin-top: 2rem;
	font-size: 1.125rem;
	line-height: 1.8;
}

.actions {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.12rem;
	margin-top: 3rem;
}

.aboutDeccont {
	width: 134.375rem;
	height: 80.25rem;
	top: -9.8rem;
	left: calc(50% + 5.5rem);
	transform: translateX(-50%);
	position: absolute;

	.dec {
		width: 100%;
		height: 100%;
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url("/aboutPage/about_bg2.webp");

		&:nth-child(2) {
			background-image: url("/aboutPage/about_bg1.webp");
		}
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.75rem;
		padding-bottom: 3.125rem;
	}

	.leftpart {
		max-width: calc(50% - 0.75rem);

		.dec {
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: auto;
		}
	}

	.tag {
		padding: 0.5625rem 0.8125rem;
		border-radius: 0.625rem;
		gap: 0.75rem;
		font-size: 0.875rem;
		line-height: 1.4;

		img {
			position: relative;
			top: -0.125rem;
			height: 1.25rem;
		}
	}

	.loadingTag {
		max-width: 32.75rem;
		height: 2.375rem;
		border-radius: 0.625rem;
	}

	.loadingTitleCont {
		margin-top: 1.25rem;
	}

	.title {
		margin-top: 1.25rem;
		font-size: 2.5rem;
	}

	.loadingTitle {
		height: 3.5rem;
		max-width: 18.75rem;
	}

	.Undertitle {
		margin-top: 0.5rem;
		font-size: 1.625rem;
	}

	.loadingSubtitleCont {
		height: 4.5rem;
		margin-top: 0.5rem;

		span {
			height: 2rem;

			&:last-child {
				max-width: 21.25rem;
			}
		}
	}

	.text {
		margin-top: 1.5rem;
		font-size: 0.875rem;
	}

	.loadingTextCont {
		height: 5.125rem;
		margin-top: 1.5rem;
	}

	.loadingBtn {
		width: 8.75rem;
		height: 2.875rem;
	}

	.actions {
		gap: 0.9375rem;
		margin-top: 2rem;
	}

	.rightPart {
		max-width: calc(50% - 0.75rem);
	}

	.rightpartLoading {
		max-width: calc(50% - 0.75rem);
	}

	.aboutDeccont {
		width: 100%;
		height: 100%;
		top: 0;
		left: auto;
		right: 0;
		transform: none;

		.dec {
			background-size: cover;

			&:nth-child(1) {
				position: absolute;
				top: 0;
				right: -1.875rem;
				min-width: 43.75rem;
				width: 100%;
				height: 34.375rem;
				background-size: contain;
			}
		}
	}
}

@media screen and (max-width: 868px) {
	.content {
		flex-direction: column;
		align-items: center;
		align-content: stretch;
		justify-content: stretch;
		gap: 2.25rem 0;
	}

	.leftpart,
	.rightPart {
		max-width: none;
	}

	.rightPart {
		canvas {
			max-width: 30rem;
		}
	}

	.rightpartLoading {
		max-width: 30rem;
	}
}
