@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.loadingList {
    ul {
        gap: 1.25rem;
        display: flex;
        flex-direction: column;

        li {
            border-radius: 2.5rem;
            height: 6.192rem;

            &.loadingZones {
                height: 4.5rem;
            }
        }
    }
}

.zonesList {
    margin-top: 2.5rem;
    ul {
        gap: 1.25rem;
        display: flex;
        flex-direction: column;
    }
}

.warning {
    width: 100%;
    text-align: center;
    svg {
        width: 8rem;
        margin-bottom: 1rem;
        height: auto;
    }
    span {
        display: block;
        font-size: 1.25rem;
    }

    &.error {
        svg {
            fill: $color-primary;
            path {
                stroke: $color-primary;
            }
        }
    }

    &.noData {
        svg {
            fill: $color-yellow;
            path {
                stroke: $color-yellow;
            }
        }
    }
}

.backBtn {
    margin-bottom: 1.25rem;
    gap: 1rem;
    padding: 1rem !important;
    padding-right: 1.2rem !important;
    @include flex-btv;

    &::before {
        content: "";
        width: 2.8rem;
        height: 2.8rem;
        background-color: $color-primary;
        border-radius: 50%;
        background-image: $lng-arrow2;
        background-size: 0.5625rem;
        background-repeat: no-repeat;
        background-position: center center;
        transform: rotate(90deg);
    }
}
