@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileSub {
	padding-top: 5rem;
}

.subscribeLoading {
	height: 7.144rem;
}

.subscribe {
	background-color: $color-yellow;
	padding: 1.5rem;
	border-radius: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem 2rem;
}

.subscribeLeft {
	width: 100%;

	* {
		color: $color_dark;
	}

	.sebTitle {
		font-size: 1.3125rem;
		font-weight: 700;
		line-height: 1.4;
	}

	.subText {
		margin-top: 0.87rem;
	}
}

.srbscribeBtn {
	padding-top: 0.94rem;
	padding-bottom: 0.94rem;
}

@media screen and (max-width: 1140px) {
	.profileSub {
		padding-top: 3.75rem;
	}

	.subscribe {
		gap: 1rem 1.5rem;
		flex-direction: column;
		justify-content: stretch;
	}

	.subscribeLeft {
		.sebTitle {
			font-size: 1.125rem;
		}

		.subText {
			font-size: 0.875rem;
			line-height: 1.8;
		}
	}

	.srbscribeBtn {
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
		width: 100%;
		max-width: 21.4375rem;
		margin: 0 auto;
	}
}
