@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileSchd {
	padding-top: 4.5rem;
}

.ttlLoading {
	height: 2.45rem;
	width: 22rem;
}

.headding {
	.ttl {
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 1.4;
	}
}

.content {
	margin-top: 2.5rem;
}

.videoContainer {
	width: 100%;
	padding-top: calc(100% / 16 * 9);
	position: relative;
	border-radius: 1.25rem;
	overflow: hidden;

	iframe {
		@include img-cover;
	}
}

.videoPlace {
	position: absolute;
	z-index: 15;
	top: 1.25rem;
	left: 1.25rem;
	padding: 0.4375rem 0.75rem 0.5625rem 0.625rem;
	border-radius: 2rem;
	background: rgba(2, 1, 1, 0.8);
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 0.75rem;

	img {
		flex-shrink: 0;
		width: 1.25rem;
		height: 1.25rem;
	}
}

@media screen and (max-width: 1140px) {
	.profileSchd {
		padding-top: 3.5rem;
	}

	.ttlLoading {
		height: 1.875rem;
		width: 17.5rem;
	}

	.headding {
		.ttl {
			font-size: 1.3125rem;
		}
	}

	.content {
		margin-top: 1.5rem;
	}

	.videoPlace {
		top: 0.625rem;
		left: 0.625rem;
		padding: 0.4375rem 0.625rem 0.5rem 0.5rem;
		font-size: 0.75rem;
		gap: 0.5rem;

		img {
			width: 1rem;
			height: 1rem;
		}
	}
}
