@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 5.75rem;
	position: relative;
}

.loadingTitle {
	height: 3.05rem;
	width: 100%;
	max-width: 25rem;
	display: block;
}

.loadSlTitle {
	height: 2.125rem;
	width: 100%;
	max-width: 15rem;
}

.textLoadCont {
	margin-top: 0.7rem;
	height: 5.4375rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 1.5rem;
		display: block;

		&:last-child {
			width: 80%;
		}
	}
}

.content {
	position: relative;
}

.header {
	max-width: 50rem;
}

.title {
	font-size: 2.5rem;
}

.slideCont {
	padding: 2.875rem 0 3.75rem 0;
	position: relative;
}

.slider {
	margin: 0;
	width: 74.375rem;
	position: static;
}

.slide {
	display: flex;
	align-items: center;
	align-content: center;
}

.imageWrapper {
	width: 33.875rem;
	min-width: 33.875rem;
	height: 22.562rem;
	border-radius: 2.5rem;
	overflow: hidden;
	position: relative;

	img {
		@include img-cover;
		width: 101%;
		height: 101%;
	}
}

.textWrapper {
	padding: 0 3.75rem 0 6.25rem;
	width: 100%;

	h3 {
		font-size: 1.5rem;
		line-height: 1.4;
	}

	p {
		margin-top: 0.7rem;
		font-size: 1.125rem;
		color: rgba(255, 255, 255, 0.8);
		line-height: 1.6;
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.5rem;
	}

	.header {
		max-width: 43.75rem;
	}

	.title {
		font-size: 1.3125rem;
	}
	.loadingTitle {
		height: 1.875rem;
		max-width: 18.75rem;
	}
	.loadSlTitle {
		height: 1.375rem;
		max-width: 12.5rem;
	}

	.textLoadCont {
		margin-top: 0.5rem;
		height: 4.625rem;

		span {
			height: 1.25rem;
		}
	}

	.slideCont {
		padding: 2rem 0 2.625rem 0;
	}

	.slider {
		width: 100%;
	}

	.slide {
		flex-direction: column;
		align-items: stretch;
		align-content: stretch;
	}

	.imageWrapper {
		width: 100%;
		min-width: auto;
		height: auto;
		border-radius: 1.25rem;
		min-height: 13.5rem;
		padding-top: 56%;
	}

	.textWrapper {
		margin-top: 1.375rem;
		padding: 0;

		h3 {
			font-size: 1rem;
		}

		p {
			margin-top: 0.5rem;
			font-size: 0.875rem;
		}
	}
}
