@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 6.2rem;
	position: relative;
	overflow: hidden;
}

.titleLoading {
	height: 3.5rem;
	width: 17rem;
}

.videoItemLoad {
	height: 6.813rem;
}

.videoList {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.videoItem {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1.5rem;
	background-color: #fff;
	background-color: $color-gray2;
	border-radius: 1.5rem;
	gap: 2rem;
}

.videoItemLeft {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 0.75rem;

	img {
		width: 2.5rem;
		height: auto;
	}

	.name {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.75rem;
	}
	.titleLoading {
		height: 2.275rem;
		max-width: 16rem;
		width: 100%;
	}
	.videoItemLoad {
		height: 6.188rem;
	}
	.videoItem {
		padding: 1.5rem 1rem;
		border-radius: 1rem;
	}
}

@media screen and (max-width: 868px) {
	.videoItemLoad {
		height: 9.688rem;
	}
	.videoItem {
		flex-direction: column;
		gap: 1.5rem;

		.button {
			width: 100%;
			justify-content: space-between;
		}
	}
	.videoItemLeft {
		img {
			width: 2rem;
		}

		.name {
			font-size: 1.25rem;
		}
	}
}
