@use "./variables" as *;

@mixin btn-main {
	flex-shrink: 0;
	text-align: center;
	font-weight: 500;
	height: 3.8125rem;
	padding: 0 1.88rem;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: normal;
	border-radius: 6.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	transition: all 0.3s;
}

@mixin button-base {
	@include btn-main;
	background-color: $color-primary;
	border: 0.0625rem solid $color-primary;

	&:hover {
		background-color: $red2;
	}
}

@mixin button-transp {
	@include btn-main;
	background-color: $color-dark-rgba;
	border: 0.0625rem solid $color-light;

	&:hover {
		background-color: $red2;
		border-color: $red2;
	}
}

@mixin button-small {
	@include btn-main;
	@include button-base;
	padding: 0.875rem 1.5rem;
}
