@use "./variables" as *;

html,
body {
	font-optical-sizing: auto;
	font-family: $font-main;
	background-color: $color-dark;
	color: $color-light;
	font-size: 16px;
	line-height: 1.5;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: clip;
}

main,
.main {
	flex: 1 1 auto;
}

.container {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 93.75rem;
	padding: 0 1.875rem;
	margin: 0 auto;
}

@media screen and (max-width: 1500px) {
	html,
	body {
		font-size: 1.066667vw;
	}
}

@media screen and (max-width: 1140px) {
	html,
	body {
		font-size: 16px;
	}

	.container {
		padding: 0 1rem;
	}
}

@media screen and (max-width: 375px) {
	html,
	body {
		font-size: 4.266667vw;
	}
}
