@use "./variables" as *;
@use "./mixins" as *;
@use "./btns" as *;

.loading {
	border: none !important;
	background-color: #fff;
	background-color: $color-load !important;
	position: relative;
	overflow: hidden !important;

	&::before {
		content: "";
		position: absolute;
		top: -3rem;
		bottom: -3rem;
		transform: rotate(15deg);
		left: -20%;
		box-shadow: $card-shadow;
		-webkit-box-shadow: $card-shadow;
		-moz-box-shadow: $card-shadow;
		animation: slideLoop 0.5s linear infinite;
	}
}

.dec {
	transition: transform 0.15s ease-out;
	will-change: transform;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
}

@keyframes slideLoop {
	0% {
		left: -20%;
	}

	100% {
		left: 140%;
	}
}

// Buttons
.btn_primary {
	@include button-base;
}

.btn_transp {
	@include button-transp;
}

.btn_small {
	@include button-small;
}

@media screen and (max-width: 1140px) {
	.btn_primary,
	.btn_transp {
		font-size: 0.875rem;
		padding: 0.875rem 1.1875rem;
	}

	.btn_small {
		font-size: 0.875rem;
		padding: 0.6875rem 1.1875rem;
	}
}

.conBg {
	@include img-contain;
}

.zone {
	&:hover {
		& .zoneM path {
			fill-opacity: 0.2;
		}

		&.blueCtrs {
			.country {
				fill: $blueH;
			}
			.countryGr {
				path {
					fill: $blueH;
				}
			}
		}

		&.redCtrs {
			.country {
				fill: $redH;
			}
			.countryGr {
				path {
					fill: $redH;
				}
			}

			.noBg {
				fill: transparent !important;
			}
		}

		&.brownCtrs {
			.country {
				fill: $brownwH;
			}
			.countryGr {
				path {
					fill: $brownwH;
				}
			}
		}

		&.yellowCtrs {
			.country {
				fill: $yellowH;
			}
			.countryGr {
				path {
					fill: $yellowH;
				}
			}
		}

		&.greenCtrs {
			.country {
				fill: $greenH;
			}
			.countryGr {
				path {
					fill: $greenH;
				}
			}

			.noBg {
				fill: transparent !important;
			}
		}
	}

	.zoneM path {
		transition: 0.2s 0.2s;
	}

	.country {
		transition: 0.2s 0.2s;
	}

	.countryGr {
		path {
			transition: 0.2s 0.2s;
		}
	}
}

.blueCtrs {
	.country {
		&:hover {
			fill: $blue !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $blue !important;
		}
	}
}

.redCtrs {
	.country {
		&:hover {
			fill: $red !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $red !important;

			&.noBg {
				fill: transparent !important;
			}
		}
	}
}

.brownCtrs {
	.country {
		&:hover {
			fill: $brownw !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $brownw !important;
		}
	}
}

.yellowCtrs {
	.country {
		&:hover {
			fill: $yellow !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $yellow !important;
		}
	}
}

.greenCtrs {
	.country {
		&:hover {
			fill: $green !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $green !important;

			&.noBg {
				fill: transparent !important;
			}
		}
	}
}

.countryGr {
	&:hover {
		.redH {
			fill: $redH !important;
		}
		.yellowH {
			fill: $yellowH !important;
		}
		.greenH {
			fill: $greenH !important;
		}
		.blueH {
			fill: $blueH !important;
		}
	}

	.redH,
	.yellowH,
	.greenH,
	.blueH {
		transition: 0.2s 0.2s;
	}
}

@media (pointer: coarse) {
	.zone {
		.zoneM path {
			transition: 0s 0s;
		}

		.country {
			transition: 0s 0s;
		}

		.countryGr {
			path {
				transition: 0s 0s;
			}
		}
	}
}
