@use "./variables" as *;
@use "./mixins" as *;
@use "./btns" as *;

.loading {
	border: none !important;
	background-color: #fff;
	background-color: $color-load !important;
	position: relative;
	overflow: hidden !important;

	&::before {
		content: "";
		position: absolute;
		top: -3rem;
		bottom: -3rem;
		transform: rotate(15deg);
		left: -20%;
		box-shadow: $card-shadow;
		-webkit-box-shadow: $card-shadow;
		-moz-box-shadow: $card-shadow;
		animation: slideLoop 0.5s linear infinite;
	}
}

.dec {
	transition: transform 0.15s ease-out;
	will-change: transform;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
}

.streamSlider {
	overflow: visible !important;

	.swiper-wrapper {
		overflow: visible !important;
	}
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
	width: 3.5625rem !important;
	height: 3.5625rem !important;
	border-radius: 50%;
	background-color: $color-primary;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.5625rem;
	transition: 0.3s;
	margin: 0 !important;

	svg {
		display: none;
	}

	&.disabled {
		background-color: $color-primary !important;
		opacity: 0.4 !important;
	}

	&:hover {
		background-color: $red2;
	}

	&.swiper-button-prev {
		background-image: $arrow-left;
		left: 0.5rem !important;
	}

	&.swiper-button-next {
		background-image: $arrow-right;
		right: 0.5rem !important;
	}
}

input[type="text"], input[type="email"],
textarea {
	border-radius: 1.25rem;
	border: 1px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	height: 3.75rem;
	padding: 0 1.62rem;
	width: 100%;
	font-size: 1.125rem;
}
textarea {
	height: 7.5rem;
	padding: 0.87rem 1.62rem;
}

.selector {
	box-shadow: none !important;

	& > div {
		&:nth-child(3) {
			min-height: 3.75rem;
			background: rgba(255, 255, 255, 0.1) !important;
			border: 1px solid rgba(255, 255, 255, 0.6) !important;
			border-radius: 1.25rem;
			box-shadow: none !important;

			& > div {
				&:nth-child(1) {
					padding: 0 1.625rem;

					& > div {
						&:nth-child(1) {
							font-size: 1.125rem;
							color: $color-light;
							margin: 0;
							font-weight: 400 !important;
							font-family: "Roboto";
						}
						&:nth-child(2) {
							margin: 0;
							padding: 0;
							color: $color-light;
						}
					}
				}

				&:nth-child(2) {
					position: absolute;
					width: 1rem;
					height: 1rem;
					top: 50%;
					transform: translateY(-50%);
					right: 1.25rem;

					span {
						display: none;
					}

					div {
						padding: 0;
						margin: 0;
						width: 100%;
						height: 100%;

						svg {
							width: 100%;
							height: 100%;
							fill: $color-light !important;
						}
					}
				}
			}
		}

		&:nth-child(4) {
			top: -1px;
			left: -1px;
			right: -1px;
			width: auto;
			border-radius: 1.25rem;
			background: #373333 !important;
			box-shadow: none !important;
			padding: 0;
			margin: 0;
			overflow: hidden;

			& > div {
				padding: 0 1.5rem;

				&::-webkit-scrollbar {
					width: 0.25rem;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: $color-sec !important;
					border-radius: 0.25rem;
				}

				div {
					height: 3.75rem;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					padding: 0;
					display: flex;
					align-items: center;
					align-content: center;
					font-size: 1.125rem;
					padding-right: 1.5rem;
					background-repeat: no-repeat;
					background-color: transparent !important;

					&[aria-selected="true"] {
						background-image: $check;
						background-size: 0.75rem;
						background-position: right center;
					}

					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}

.checkAgree {
	width: 100%;

	label {
		display: flex;
		align-items: start;
		gap: 0 1rem;
		font-size: 1.125rem;
		line-height: 1.4;

		a {
			text-decoration: underline;
		}

		p {
			padding-top: 0.175rem;
		}

		b {
			font-weight: normal;
		}

		input {
			display: none;

			&:checked {
				& + span {
					background-image: $checkSpCh;
					background-color: $color-light;
					background-position: center center;
					background-size: 0.83331rem;
					border-radius: 0.625rem;
				}
			}
		}

		span {
			width: 1.875rem;
			min-width: 1.875rem;
			height: 1.875rem;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: $checkSp;
			cursor: pointer;
		}
	}
}

.swiper-pagination {
	bottom: 0 !important;
	display: flex !important;
	gap: 0.62rem;
	justify-content: center;

	.swiper-pagination-bullet {
		margin: 0 !important;
		width: 0.5rem;
		height: 0.5rem;
		background-color: #ccc;
		opacity: 1;

		&.swiper-pagination-bullet-active {
			background-color: $color-primary;
		}
	}
}

@keyframes slideLoop {
	0% {
		left: -20%;
	}

	100% {
		left: 140%;
	}
}

// Buttons
.btn_primary {
	@include button-base;
}

.btn_transp {
	@include button-transp;
}

.btn_small {
	@include button-small;
}

@media screen and (max-width: 1140px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: none !important;
	}

	input[type="text"], input[type="email"],
	textarea {
		border-radius: 0.625rem;
		height: 3.125rem;
		padding: 0 1.125rem;
		font-size: 0.9375rem;
	}

	textarea {
		height: 6.25rem;
		padding: 0.625rem 1.125rem;
	}

	.selector {
		& > div {
			&:nth-child(3) {
				min-height: 3.125rem;
				border-radius: 0.625rem;

				& > div {
					&:nth-child(1) {
						padding: 0 1.125rem;

						& > div {
							&:nth-child(1) {
								font-size: 0.9375rem;
							}
						}
					}
				}
			}

			&:nth-child(4) {
				border-radius: 0.625rem;

				& > div {
					padding: 0 1.125rem;

					div {
						height: 3.125rem;
						font-size: 0.9375rem;
					}
				}
			}
		}
	}

	.checkAgree {
		label {
			font-size: 0.9375rem;
			line-height: 1.6;

			br {
				display: none;
			}

			p {
				margin-top: -0.1rem;
			}

			span {
				position: relative;
				top: -0.25rem;
			}
		}
	}

	.btn_primary,
	.btn_transp {
		font-size: 0.875rem;
		padding: 0.875rem 1.1875rem;
	}

	.btn_small {
		font-size: 0.875rem;
		padding: 0.6875rem 1.1875rem;
	}
}

.conBg {
	@include img-contain;
}

.zone {
	&:hover {
		& .zoneM path {
			fill-opacity: 0.2;
		}

		&.blueCtrs {
			.country {
				fill: $blueH;
			}
			.countryGr {
				path {
					fill: $blueH;
				}
			}
		}

		&.redCtrs {
			.country {
				fill: $redH;
			}
			.countryGr {
				path {
					fill: $redH;
				}
			}

			.noBg {
				fill: transparent !important;
			}
		}

		&.brownCtrs {
			.country {
				fill: $brownwH;
			}
			.countryGr {
				path {
					fill: $brownwH;
				}
			}
		}

		&.yellowCtrs {
			.country {
				fill: $yellowH;
			}
			.countryGr {
				path {
					fill: $yellowH;
				}
			}
		}

		&.greenCtrs {
			.country {
				fill: $greenH;
			}
			.countryGr {
				path {
					fill: $greenH;
				}
			}

			.noBg {
				fill: transparent !important;
			}
		}
	}

	.zoneM path {
		transition: 0.2s 0.2s;
	}

	.country {
		transition: 0.2s 0.2s;
	}

	.countryGr {
		path {
			transition: 0.2s 0.2s;
		}
	}
}

.blueCtrs {
	.country {
		&:hover {
			fill: $blue !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $blue !important;
		}
	}
}

.redCtrs {
	.country {
		&:hover {
			fill: $red !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $red !important;

			&.noBg {
				fill: transparent !important;
			}
		}
	}
}

.brownCtrs {
	.country {
		&:hover {
			fill: $brownw !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $brownw !important;
		}
	}
}

.yellowCtrs {
	.country {
		&:hover {
			fill: $yellow !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $yellow !important;
		}
	}
}

.greenCtrs {
	.country {
		&:hover {
			fill: $green !important;
		}
	}
	.countryGr {
		&:hover path {
			fill: $green !important;

			&.noBg {
				fill: transparent !important;
			}
		}
	}
}

.countryGr {
	&:hover {
		.redH {
			fill: $redH !important;
		}
		.yellowH {
			fill: $yellowH !important;
		}
		.greenH {
			fill: $greenH !important;
		}
		.blueH {
			fill: $blueH !important;
		}
	}

	.redH,
	.yellowH,
	.greenH,
	.blueH {
		transition: 0.2s 0.2s;
	}
}

@media (pointer: coarse) {
	.zone {
		.zoneM path {
			transition: 0s 0s;
		}

		.country {
			transition: 0s 0s;
		}

		.countryGr {
			path {
				transition: 0s 0s;
			}
		}
	}
}
