// Кольори
$color-primary: #f94a51;
$color-sec: #999;
$color-sec2: #dbdbdb;
$color-sec3: #252525;
$color-dark: #020101;
$color-border: #535353;
$color-light: #ffffff;
$color-gray: #21201f;
$color-gray2: #1b1b1b;
$color-bages: #1c1a19;
$color-load: #1b1b1b;
$color-yellow: #fce286;
$color-text: #e8e8e8;
$color-dark-rgba: rgba(255, 255, 255, 0.1);
$card-shadow: 0 0 2.5rem 0.75rem rgba(83, 83, 83, 0.4);

$blue: #14d2dc;
$red: #fa7850;
$red2: #df262d;
$yellow: #f0f032;
$green: #5dbd39;
$brownw: #e3c57f;
$redH: #c45f41;
$blueH: #1fa6ae;
$greenH: #4a9a2d;
$yellowH: #b9b928;
$brownwH: #b59d65;

// Текст
$font-main: "Roboto", sans-serif;

//Border
$border: 0.0625rem solid $color-border;

//Icons
$lng-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='3' viewBox='0 0 6 3' fill='none'%3E%3Cpath d='M0.054375 0.386139L0.0881249 0.418968L2.63812 2.86556C2.72438 2.94841 2.85375 3 2.99813 3C3.1425 3 3.27188 2.94685 3.35813 2.86556L5.90625 0.423658L5.94938 0.383012C5.98125 0.343929 6 0.29703 6 0.247004C6 0.110995 5.86125 0 5.68875 0H0.31125C0.13875 0 0 0.110995 0 0.247004C0 0.298593 0.020625 0.347056 0.054375 0.386139Z' fill='white'/%3E%3C/svg%3E");
$lng-arrow2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6' fill='none'%3E%3Cpath d='M4.51303 5.73045L7.84692 1.23024C7.95942 1.07726 8.01344 0.880362 7.99715 0.68267C7.98086 0.484978 7.89559 0.302604 7.76002 0.175483C7.62444 0.0483623 7.4496 -0.0131439 7.2738 0.00443314C7.09799 0.0220102 6.93554 0.117238 6.82202 0.269263L4.00055 4.07803L1.17909 0.269263C1.06573 0.116652 0.903147 0.0208978 0.727063 0.003035C0.55098 -0.0148278 0.375794 0.0466617 0.239987 0.173996C0.104181 0.30133 0.0188617 0.484095 0.00277135 0.682144C-0.0133191 0.880192 0.0411353 1.07733 0.154172 1.23024L3.48812 5.73045C3.55079 5.81483 3.62917 5.88271 3.71772 5.92928C3.80627 5.97586 3.90282 6 4.00058 6C4.09833 6 4.19488 5.97586 4.28343 5.92928C4.37198 5.88271 4.45036 5.81483 4.51303 5.73045Z' fill='white'/%3E%3C/svg%3E");
$lng-arrow3: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M6.1022 0.404326L0.267884 7.15464C0.0710134 7.38411 -0.0235199 7.67946 0.00498576 7.976C0.0334914 8.27253 0.182713 8.54609 0.419973 8.73678C0.657233 8.92746 0.963194 9.01972 1.27086 8.99335C1.57852 8.96698 1.86281 8.82414 2.06147 8.59611L6.99903 2.88295L11.9366 8.5961C12.135 8.82502 12.4195 8.96865 12.7276 8.99545C13.0358 9.02224 13.3424 8.93001 13.58 8.73901C13.8177 8.548 13.967 8.27386 13.9952 7.97678C14.0233 7.67971 13.928 7.38401 13.7302 7.15464L7.89579 0.404326C7.78611 0.277753 7.64895 0.175938 7.49399 0.106075C7.33903 0.0362107 7.17006 6.40261e-07 6.99899 6.47739e-07C6.82793 6.55216e-07 6.65895 0.0362107 6.504 0.106075C6.34904 0.175938 6.21188 0.277753 6.1022 0.404326Z' fill='white'/%3E%3C/svg%3E");
