@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 11.0625rem;
	position: relative;
	overflow: hidden;
}

.loadingTitleCont {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.loadingTitle {
	height: 3.438em;
	width: 32rem;

	&:last-child {
		width: 27rem;
	}
}

.loadingItem {
	height: 11.3125rem;

	&::after {
		display: none;
	}
}

.loadingBtn {
	width: 12.75rem;
	height: 4.4375rem;
}

.subtextLoading {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	span {
		width: 16.5rem;
		height: 1.375rem;

		&:last-child {
			width: 14rem;
		}
	}
}

.content {
	max-width: 52.5rem;
	padding-bottom: 9.38rem;
	position: relative;

	* {
		position: relative;
		z-index: 2;
	}

	h2 {
		span {
			display: block;
		}
	}
}

.list {
	margin-top: 2.1875rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.375rem;

	li {
		position: relative;
		border-radius: 2.5rem;
		padding: 4.5rem 1.375rem 1.375rem 1.875rem;
		border: $border;
		line-height: 160%;
		background-color: $color-dark;

		&::after {
			content: "";
			position: absolute;
			width: 1.25rem;
			height: 1.25rem;
			top: 1.875rem;
			left: 1.875rem;
			border-radius: 50%;
			background-color: $color-primary;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 3.125rem;
}

.subtext {
	color: $color-sec2;
	line-height: 1.6;
	max-width: 16.625rem;
}

.imageWrapper {
	position: absolute;
	bottom: -0.625rem;
	left: 15.625rem;
	z-index: 0;
	width: 86.875rem;

	video {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.375rem;
	}

	.content {
		display: flex;
		flex-direction: column;
		max-width: none;
		padding-bottom: 3.75rem;
	}

	.list {
		order: 3;
		gap: 1rem;
		margin-top: 0;

		li {
			border-radius: 1.25rem;
			padding: 3.5rem 1.25rem 1rem 1.25rem;

			&::after {
				top: 1.25rem;
				left: 1.25rem;
			}
		}
	}

	.actions {
		flex-direction: column-reverse;
		align-items: start;
		margin-top: 1rem;
	}

	.subtext {
		font-size: 0.875rem;
		max-width: 20rem;
	}

	.imageWrapper {
		position: relative;
		bottom: auto;
		left: auto;
		width: 100%;
		padding-top: clamp(19rem, 40%, 20.625rem);

		div {
			position: absolute;
			bottom: -1.875rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
			width: clamp(39rem, 100%, 51.5rem);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				background: linear-gradient(
					180deg,
					rgba(2, 1, 1, 0) 0%,
					rgba(2, 1, 1, 1) 100%
				);
			}
		}
	}
}

@media screen and (max-width: 868px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 475px) {
	.imageWrapper {
		div {
			transform: translateX(-60%);
		}
	}
}
