@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.header {
	position: relative;
	z-index: 1100;
	background-color: $color-dark;
}

.header__main {
	position: relative;
	z-index: 110;
	border-bottom: $border;
	transition: all 0.15s ease-in;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 1.5rem;
	min-height: 7.5rem;
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 0 2.25rem;
}

.burger {
	display: none;
}

@media screen and (max-width: 1140px) {
	.header {
		position: sticky;
		top: 0;

		&.is-open {
			.header__main {
				border-color: transparent;
			}
		}
	}

	.header__body {
		min-height: 5rem;
		gap: 0 1.25rem;
	}

	.header__actions {
		gap: 0 1.25rem;
	}

	.burger {
		display: block;
		flex-shrink: 0;
		position: relative;
		width: 1.25rem;
		height: 0.875rem;

		span {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 100%;
			height: 0.125rem;
			border-radius: 0.5rem;
			background-color: $color-light;
			transform: translateX(-50%) translateY(-50%);

			-webkit-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;

			&:first-child {
				top: 0;
				transform: translateX(-50%) translateY(0%);
			}
			&:last-child {
				top: 100%;
				transform: translateX(-50%) translateY(-100%);
			}
		}

		&.is-open {
			span {
				top: 50%;
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				opacity: 0;

				&:first-child {
					transform: translateX(-50%) translateY(-50%) rotate(45deg);
					opacity: 1;
				}
				&:last-child {
					transform: translateX(-50%) translateY(-50%) rotate(-45deg);
					opacity: 1;
				}
			}
		}
	}
}
