@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.layout {
	display: flex;
	height: 100dvh;
	overflow: hidden;
}

.sidebar {
	width: 16.1875rem;
	background: #1c1c1c;
	display: flex;
	flex-direction: column;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 0.875rem;
	font-weight: 500;
	height: 100dvh;
}
.overlay {
	display: none;
}

.content {
	position: relative;
	width: calc(100% - 16.1875rem);
	height: 100%;
}

.logo {
	flex-shrink: 0;
	height: 4.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);

	a {
		flex-shrink: 0;
		width: 8rem;
	}
}
.sidebar__close {
	display: none;
}

.navSidebar {
	height: calc(100dvh - 14.5rem);
	padding: 1rem 0;
	overflow: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 0.875rem;
}

.link {
	display: flex;
	align-items: start;
	padding: 0.625rem 1.5rem;
	gap: 0.9375rem;
	transition: 0.3s;

	svg {
		width: 1.125rem;
		height: 1.125rem;
		stroke: $color-yellow;
	}

	&:hover {
		background: #323232;
	}

	&.active {
		background: $color-primary !important;
	}
}

.sidebar__bottom {
	flex-shrink: 0;
}

.userBlock {
	height: 4.75rem;
	padding: 0 1.5rem;
	align-items: center;
	align-content: center;
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	gap: 0.94rem;
	transition: 0.3s;

	svg {
		width: 1.125rem;
		height: 1.125rem;
		stroke: $color-yellow;
	}
}

.languafesSidebar {
	padding: 1.75rem 1.5rem;
	display: flex;
	gap: 0.875rem;

	svg {
		flex-shrink: 0;
		position: relative;
		top: 0.0625rem;
		display: block;
		stroke: $color-yellow;
		width: 1.25rem;
		height: auto;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.875rem;
		color: rgba(255, 255, 255, 0.4);

		li {
			cursor: pointer;
			font-size: 1rem;
			transition: 0.3s;

			&:hover {
				color: #fff;
			}
		}

		.current {
			color: #fff !important;
		}
	}
}

@media screen and (max-width: 1140px) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		width: 15.875rem;
		transform: translateX(-100%);
		transition: all 0.35s ease-in-out;

		&.is-open {
			transform: translateX(0);

			.overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.overlay {
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		bottom: 0;
		z-index: 1;
		width: 100dvw;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-in-out;
	}

	.sidebar__close {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.875rem;
		aspect-ratio: 1;
		border-radius: 0.625rem;
		background-color: rgba(249, 74, 81, 0.6);

		&::before {
			content: "";
			width: 0.625rem;
			height: 0.625rem;
			background-size: 0.625rem 0.625rem;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: $sidebar-close;
		}
	}

	.link {
		&:hover {
			background: transparent;
		}
	}

	.content {
		z-index: 1;
		width: 100%;
	}

	.languafesSidebar {
		ul {
			li {
				&:hover {
					color: rgba(255, 255, 255, 0.4);
				}
			}
		}
	}
}

@media screen and (max-width: 868px) {
}
