@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.item {
	border-radius: 2.5rem;
	overflow: hidden;
	border: $border;
	padding-bottom: 1.25rem;
}

.toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 2rem;
	padding: 1.875rem 2.5rem 0.625rem 2.5rem;
}

.icon {
	flex-shrink: 0;
	width: 2.25rem;
	height: 2.25rem;
	background-color: $color-primary;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: "";
		flex-shrink: 0;
		width: 0.5rem;
		height: 0.5rem;
		background-size: 0.5rem 0.5rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: $lng-arrow2;
		transition: 0.3s;
	}
}

.answer {
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	line-height: 1.62;
	color: $color-text;
	padding: 0 2.5rem;
	transition:
		max-height 0.4s ease,
		opacity 0.3s ease;

	p {
		padding-bottom: 0.625rem;
	}
}

.opened .answer {
	opacity: 1;
	visibility: visible;
}

.opened {
	.icon {
		&::before {
			transform: rotate(-180deg);
		}
	}
}

@media screen and (max-width: 1140px) {
	.item {
		border-radius: 1.25rem;
		padding-bottom: 0.5rem;
	}

	.toggle {
		gap: 0 1.5rem;
		padding: 1.125rem 1.375rem 0.625rem 1.375rem;
	}

	.icon {
		width: 1.625rem;
		height: 1.625rem;
	}

	.answer {
		font-size: 0.875rem;
		line-height: 1.6;
		padding: 0 1.375rem;
	}
}
