@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileSlider {
    padding-top: 0;
}

.slider {
    border-radius: 1.25rem;
    overflow: hidden;
    width: 100%;
}

.slide {
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
    width: 100%;
    min-height: 24.875rem;
    display: flex;
    align-items: center;
    align-content: center;
}

.slideEmg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    img {
        @include img-cover;
    }
}

.slide__cont {
    padding: 4.5rem;
    max-width: 43.5rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    .slideTtl {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 140%;
    }

    .slideText {
        margin-top: 0.87rem;
    }

    .slideBtn {
        margin-top: 2rem;
        padding-top: 0.94rem;
        padding-bottom: 0.94rem;
    }
}
