@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.pagination {
	margin-top: 2.81rem;
	display: flex;
	justify-content: center;
	gap: 0.25rem;
	flex-wrap: wrap;

	a,
	span {
		width: 2.4375rem;
		height: 2.4375rem;
		border-radius: 0.625rem;
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		font-size: 1.125rem;

		&.active {
			background-color: $color-primary;
		}
	}

	.arrow {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 0.5625rem;

		&.prev {
			background-image: $arrow-left;
		}

		&.next {
			background-image: $arrow-right;
		}

		&.disabled {
			opacity: 0.4;
		}
	}
}

@media screen and (max-width: 1140px) {
	.pagination {
		margin-top: 2.5rem;
		a,
		span {
			width: 2.1875rem;
			height: 2.1875rem;
			border-radius: 0.625rem;
			font-size: 1rem;
		}

		.arrow {
			background-size: 0.4375rem;
		}
	}
}
