@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.aside {
	border-radius: 1.25rem;
	overflow: hidden;
	background-color: $color-gray2;
	transition: position 0.2s ease;
	min-height: 100vh;
	position: sticky;
	bottom: 0; // 👈 ключовий момент
	align-self: flex-end; // щоб не тягнуло блок догори
}

.loadingItem {
	height: 3.5625rem;
}

.item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
	background-color: $color-gray2;
	padding: 0.88rem 1.88rem;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	transition: 0.3s;
	position: relative;

	&::after {
		position: absolute;
		content: "";
		background-image: $arrow-right;
		top: 50%;
		transform: translateY(-50%);
		right: 1.5rem;
		width: 0.4375rem;
		height: 0.6875rem;
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0;
		transition: 0.3s;
	}

	&:hover,
	&.active {
		padding-right: 3.69rem;
		background: rgba(249, 74, 81, 0.6);

		&::after {
			opacity: 1;
		}
	}

	&.active {
		.left {
			.filter__check {
				background-color: $color-primary;
				border-color: $color-primary;
				background-image: $check;
			}
		}
	}

	.left {
		display: flex;
		align-items: center;
		align-content: center;
		gap: 0.75rem;

		.filter__check {
			width: 1.25rem;
			height: 1.25rem;
			margin-top: -0.15rem;
			border-radius: 0.4375rem;
			border: 1px solid #fff;
			transition: 0.3s;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 0.5rem;
		}
	}

	.code {
		font-size: 1.125rem;
		line-height: 1.6;
		font-weight: 500;
	}

	.right {
		display: flex;
		align-items: center;
		align-content: center;
	}

	.flags {
		display: flex;

		img {
			width: 1.25rem;
			height: 1.25rem;
			position: relative;
			left: 0.188rem;

			&:last-child {
				left: 0;
			}
		}
	}

	.count {
		color: rgba(255, 255, 255, 0.4);
		margin-left: 0.75rem;
	}
}

.filter__header {
	padding: 1.5rem 1.25rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	button {
		width: 1rem;
		height: 1rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: $close;
	}
}

@media screen and (max-width: 1140px) {
	.aside {
		border-radius: 0;
	}
	.loadingItem {
		height: 2.65rem;
	}
	.item {
		padding: 0.5rem 1.25rem;
		&::after {
			right: 1.25rem;
			width: 0.4rem;
			height: 0.6rem;
		}

		&:hover {
			padding-right: 1.25rem;
			background: inherit;

			&::after {
				opacity: 0;
			}
		}

		&.active {
			padding-right: 2.5rem !important;
			background: rgba(249, 74, 81, 0.6) !important;

			&::after {
				opacity: 1 !important;
			}
		}

		.code {
			font-size: 1rem;
		}
	}
	.inner {
		height: calc(100svh - 4.9rem);
		height: calc(100dvh - 4.9rem);
		padding-bottom: 2.5rem;
		overflow: auto;
	}
}

@media screen and (max-width: 868px) {
}

@media screen and (max-width: 475px) {
}
