.card {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: .5rem;
    padding: 3.25rem 0;
    text-align: center;
}