@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding: 5.5rem 0;
	position: relative;
}

.bg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 120rem;
	height: 63.125rem;
	top: -10.5625rem;

	img {
		@include img-cover;
	}
}

.loadingTitle {
	height: 3.5rem;
	width: 100%;
	max-width: 29.375rem;
	display: block;
}

.loadingPrice {
	width: 16.8125rem;
	height: 3rem;
}

.loadingText {
	display: block;
	width: 100%;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 1.5rem;

		&:last-child {
			width: 80%;
		}
	}
}

.loadingCard,
.loadingSubcard {
	&::after {
		display: none;
	}
}

.loadingBtn {
	width: 18.125rem;
	height: 4.4375rem;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
}

.headerTop {
	gap: 1.25rem 2.25rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.title {
	font-size: 2.5rem;
}

.price {
	background-color: #fcd16e;
	color: $color-sec3;
	padding: 0.44rem 1.5rem;
	border-radius: 2rem;
	font-size: 1.3125rem;
	line-height: 1.6;
	font-weight: 500;
}

.text {
	max-width: 53.125rem;
	margin-top: 1.38rem;
	font-size: 1.125rem;
	line-height: 1.8;
}

.cards {
	margin-top: 4rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.87rem;

	&.oneItem {
		grid-template-columns: 3fr 1fr;

		.card {
			&:first-child {
				background-color: $color-dark;
				background-image: url("about/nye.webp");
				background-repeat: no-repeat;
				background-position: center center;
				background-repeat: no-repeat;

				img {
					position: absolute;
					object-fit: initial;
					left: auto;
					top: 1rem;
					right: 1rem;
					bottom: 1rem;
					width: auto;
					transform: none;
					height: calc(100% - 2rem);
					border-radius: 1.5rem;
					overflow: hidden;
					z-index: 2;
				}
			}
		}
	}
}

.card {
	min-height: 18.375rem;
	border-radius: 2.5rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: linear-gradient(
			222deg,
			rgba(2, 1, 1, 0.9) 9.4%,
			rgba(28, 28, 28, 0.36) 42.25%,
			rgba(2, 1, 1, 0.9) 82.51%
		);
	}

	img {
		@include img-cover;
		width: 101%;
		height: 101%;
	}
}

.cardLast {
	position: relative;
	overflow: visible;

	&::after {
		display: none;
	}

	.dec {
		width: 17.20119rem;
		height: 16.0625rem;
		right: 0;
		top: -6.06rem;
		position: absolute;
		z-index: 6;
		display: block;
		object-fit: inherit;
		transform: none;
		left: auto;
	}
}

.subCards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.2rem;
	height: 100%;

	.subCard {
		border-radius: 2.5rem;
		position: relative;
		overflow: hidden;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: linear-gradient(
				222deg,
				rgba(2, 1, 1, 0.9) 9.4%,
				rgba(28, 28, 28, 0.36) 42.25%,
				rgba(2, 1, 1, 0.9) 82.51%
			);
		}
	}
}

.cardContent {
	padding: 2rem 1.6rem;
	position: relative;
	z-index: 3;

	p {
		font-size: 1.3125rem;
		line-height: 1.6;
		font-weight: 700;
	}
}

.actions {
	margin-top: 3.75rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;
}

.dec {
	position: absolute;
	width: 23.75rem;
	height: 22.17781rem;
	top: -8.37rem;
	right: 0;
}

@media screen and (max-width: 1140px) {
	.section {
		padding: 3.375rem 0 0 0;
	}

	.bg {
		display: none;
		width: 100%;
		height: 100%;
	}

	.title {
		font-size: 1.3125rem;
	}

	.loadingTitle {
		height: 1.875rem;
		max-width: 18.75rem;
		display: block;
	}

	.price {
		padding: 0.375rem 0.9375rem;
		border-radius: 1.25rem;
		font-size: 1rem;
	}

	.loadingPrice {
		width: 12.5rem;
		height: 2.375rem;
	}

	.text {
		max-width: 46.875rem;
		margin-top: 1.4375rem;
		font-size: 0.875rem;
	}

	.loadingText {
		height: 3rem;

		span {
			height: 1.25rem;
		}
	}

	.cards {
		order: 3;
		margin-top: 2.5rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;

		&.oneItem {
			grid-template-columns: repeat(2, 1fr);

			.card {
				&:first-child {
					background-image: none;
					img {
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						object-fit: cover;
						width: 100%;
						height: 100%;
						z-index: 0;
						border-radius: none;
					}
				}
			}
		}
	}

	.card {
		min-height: 15rem;
		border-radius: 1.25rem;
	}

	.cardLast {
		.dec {
			width: 13.75rem;
			height: 11.875rem;
			top: -4.4375rem;
		}
	}

	.subCards {
		gap: 1.125rem;

		.subCard {
			border-radius: 1.25rem;
		}
	}

	.cardContent {
		padding: 0.75rem 0.75rem;

		p {
			font-size: 1rem;
		}
	}

	.actions {
		order: 2;
		margin-top: 2rem;
		justify-content: stretch;
	}

	.loadingBtn {
		width: 11.25rem;
		height: 2.875rem;
	}
}

@media screen and (max-width: 868px) {
	.cards {
		grid-template-columns: none;

		&.oneItem {
			grid-template-columns: none;

			.card {
				&:first-child {
					height: 12rem;
				}
			}
		}
	}

	.card {
		min-height: 9.375rem;
	}

	.subCards {
		.subCard {
			min-height: 8.375rem;
		}
	}
}
