@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	position: relative;
	padding-top: 5.4375rem;
	padding-bottom: 6.25rem;

	picture {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
		height: 100%;
		width: 112.5rem;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			background: linear-gradient(
				180deg,
				rgba(2, 1, 1, 1) 0%,
				rgba(2, 1, 1, 0) 50%,
				rgba(2, 1, 1, 1) 100%
			);
		}
	}
}

.loadingTitle {
	height: 3.688em;
	width: 32rem;
}

.loadingItem {
	height: 14rem;
}

.bgImage {
	@include img-cover;
}

.list {
	margin-top: 2.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.375rem;

	li {
		border-radius: 2.5rem;
		padding: 2.5rem 2.5rem 2rem 2.5rem;
		background-color: $color-gray2;
		border: $border;
	}
}

.topItem {
	gap: 0 1.25rem;
	display: flex;
	align-items: center;

	span {
		flex-shrink: 0;
		width: 3.75rem;
		height: 3.75rem;
		border-radius: 50%;
		background-color: $color-yellow;
		@include flex-center;

		img {
			width: 1.875rem;
		}
	}
}

.text {
	margin-top: 0.875rem;
	line-height: 1.6;
	color: $color-sec2;
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.25rem;
		padding-bottom: 3.75rem;

		picture {
			width: 100%;
		}
	}

	.list {
		margin-top: 2rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.9375rem;

		li {
			border-radius: 1.25rem;
			padding: 1.5625rem 1.5625rem 1.25rem 1.5625rem;
		}
	}

	.topItem {
		align-items: start;
		gap: 0 0.625rem;

		span {
			position: relative;
			top: -0.3125rem;
			width: 1.875rem;
			height: 1.875rem;

			img {
				width: 1rem;
			}
		}
	}

	.text {
		font-size: 0.875rem;
	}
}

@media screen and (max-width: 768px) {
	.list {
		grid-template-columns: 1fr;
	}
}
