.btnLoad {
	width: 6.182rem;
	height: 3.05rem;
}

.loggined {
	display: flex !important;
	align-items: center;
	align-content: center;
	gap: 0.5rem;

	svg {
		width: 1.25rem;
		height: 1.25rem;
	}
}

@media screen and (max-width: 1140px) {
	.btnLoad {
		width: 5.125rem;
		height: 2.5rem;
	}

	.loggined {
		gap: 0.375rem;

		svg {
			width: 1.125rem;
			height: 1.125rem;
		}
	}

	.btn {
		padding: 0.625rem 1.125rem !important;
		height: 2.5rem;
		min-width: 5.125rem;
	}
}
