@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
}

.form {
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
}

.heading {
	.tagline {
		padding: 0.5625rem 0.9375rem;
		border-radius: 1.25rem;
		background: $color-bages;
		color: $color-sec;
		display: inline-block;
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		margin-top: 1.5rem;
	}

	.text {
		margin-top: 1rem;
		color: rgba(255, 255, 255, 0.6);
		font-size: 1.125rem;
		line-height: 1.8;
	}
}

.block {
	margin-top: 3.3rem;

	h2 {
		font-size: 1.5rem;
	}
}

.fields {
	display: flex;
	flex-direction: column;
	margin-top: 1.69rem;
	gap: 1.64rem;
}

.fieldGr {
	width: 100%;

	label {
		font-size: 1.125rem;
		line-height: 1.6;
		display: block;
		margin-bottom: 0.62rem;
	}
}

.checkboxes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	gap: 0.62rem;

	.checkbox {
		border-radius: 1.25rem;
		background: rgba(255, 255, 255, 0.1);

		&.checked {
			width: 100%;

			label {
				span {
					background-image: $checkSpCh;
					background-color: $color-light;
					background-position: center center;
					background-size: 0.83331rem;
					border-radius: 0.625rem;
				}
			}
		}

		label {
			display: inline-flex;
			padding: 0.94rem 1.25rem;
			min-width: 10.5rem;
			margin: 0;
			align-items: center;
			align-content: center;
			gap: 0.75rem;
			font-size: 1.125rem;

			span {
				width: 1.875rem;
				height: 1.875rem;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: $checkSp;
			}

			input {
				display: none;
			}
		}

		input {
			margin: 1.25rem;
			margin-top: 0;
			width: calc(100% - 2.5rem);
		}
	}
}

.bottom {
	margin-top: 2.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.error {
	margin-top: 0.25rem;
	font-size: 0.875rem;
	color: rgb(213, 65, 65);
	display: inline-block;
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 868px) {
}

@media screen and (max-width: 475px) {
}
