@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
	padding: 4rem;
	max-height: 100vh;
	max-height: 100dvh;
	overflow: auto;
}

.titleLoading {
	width: 28.5rem;
	height: 2.3475rem;
}

.descLoading {
	margin-top: 0.8rem;
	width: 40.5rem;
	height: 3.125rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 1.25rem;

		&:last-child {
			width: 80%;
		}
	}
}

.priceLoading {
	width: 14.0375rem;
	height: 3.3125rem;
}

.btnLoading {
	height: 3.25rem;

	&::after {
		display: none;
	}
}

.heading {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 1.125rem 1.5rem;

	& > div {
		h1 {
			font-size: 1.75rem;
			font-weight: 700;
			line-height: 1.4;
		}

		p {
			font-size: 0.875rem;
			line-height: 1.8;
			margin-top: 0.8rem;
			max-width: 41rem;
		}
	}
}

.countryGridCont {
	margin-top: 2rem;
}

.asidePanel {
	transform: translateX(100%);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	width: 23.5rem;
	max-width: 100vh;
	height: 100vh;
	height: 100dvh;
	max-height: 100dvh;
	overflow: auto;

	& > aside {
		border-radius: 0;
	}
}

.price {
	flex-shrink: 0;
	width: fit-content;
	padding: 0.75rem 1.56rem;
	border-radius: 0.9375rem;
	background-color: $color-yellow;
	font-size: 1.125rem;
	font-weight: 500;
	color: $color-dark;
}

.cards {
	margin-top: 2.6875rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.44rem;
}

.card {
	min-height: 18.375rem;
	border-radius: 2.5rem;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: linear-gradient(
			222deg,
			rgba(2, 1, 1, 0.9) 9.4%,
			rgba(28, 28, 28, 0.36) 42.25%,
			rgba(2, 1, 1, 0.9) 82.51%
		);
	}

	img {
		@include img-cover;
		width: 101%;
		height: 101%;
	}
}

.cardContent {
	padding: 2rem 1.6rem;
	position: relative;
	z-index: 3;

	p {
		font-size: 1.3125rem;
		min-height: 4.25rem;
		line-height: 1.6;
		font-weight: 700;
	}
}

.actions {
	margin-top: 3.125rem;

	button {
		width: 100%;
		gap: 0 0.75rem;
		height: 3.25rem;
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: "";
			width: 0.75rem;
			height: 0.75rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: $arrow-right;
		}
	}
}

@media screen and (min-width: 1880px) {
	.countryGridCont {
		& > ul {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media screen and (max-width: 1140px) {
	.profileContent {
		padding: 7.5rem 1rem 1rem 1rem;
	}

	.heading {
		& > div {
			h1 {
				font-size: 1.3125rem;
			}

			p {
				max-width: none;
			}
		}
	}

	.price {
		padding: 0.625rem 1.125rem;
		font-size: 1rem;
	}

	.cards {
		margin-top: 1.875rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}

	.card {
		min-height: 12.5rem;
		border-radius: 1.25rem;

		&:last-child {
			grid-column: 1 / -1;
		}
	}
	.cardContent {
		padding: 1.25rem 0.75rem;

		p {
			font-size: 1rem;
			min-height: auto;
		}
	}

	.actions {
		margin-top: 1.875rem;

		button {
			gap: 0 0.625rem;
			height: 2.875rem;

			&::after {
				width: 0.625rem;
				height: 0.625rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.profileContent {
		display: flex;
		flex-direction: column;
	}

	.heading {
		order: 1;
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;

		& > div {
			display: contents;

			h1 {
				order: 1;
			}

			p {
				margin-top: 0;
				order: 3;
			}
		}
	}

	.price {
		order: 2;
		padding: 0.375rem 0.9375rem;
		border-radius: 1.25rem;
	}

	.cards {
		order: 3;
		grid-template-columns: 1fr;
	}

	.card {
		min-height: 10.625rem;

		&:last-child {
			grid-column: auto;
		}
	}

	.actions {
		order: 2;
		margin-top: 1.375rem;
	}
}
