@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding-top: 6.2rem;
	position: relative;
	overflow: hidden;
}

.tzLoading {
	width: 5.3125rem;
	height: 2.4375rem;
}

.flagLoading {
	.fl {
		width: 1.25rem;
		height: 1.25rem;
		border-radius: 50%;
	}

	span {
		height: 1.5rem;
		width: 8rem;
		display: block;
	}
}

.nameLoading {
	height: 3.5rem;
	width: 25rem;
}

.langsLoading {
	height: 2rem;
	width: 20rem;
}

.descLoading {
	height: 7.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		height: 1.5rem;

		&:last-child {
			width: 20%;
		}
	}
}

.followLoading {
	height: 1.8125rem;
	width: 13rem;
}

.iconLinkLoading {
	width: 4.4375rem;
	height: 4.4375rem;
	border-radius: 50%;
}

.content {
	display: flex;
	gap: 4.94rem;
}

.photoWrap {
	flex-shrink: 0;
	width: 22.75rem;
}

.photoInner {
	height: 36.375em;
	position: relative;
	overflow: hidden;
	border-radius: 1.25rem;

	img,
	.videoWrap,
	video {
		@include img-cover;
	}

	video:fullscreen {
		@include img-contain;
	}

	video:-webkit-full-screen {
		@include img-contain;
		background: #000;
	}
}

.playBtn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	height: 3.4375rem;
	padding: 0 1.5rem;
	background: rgba(2, 1, 1, 0.4);
	font-size: 1.125rem;
	font-weight: 500;
	align-items: center;
	align-content: center;

	.playIcon {
		width: 2.1875rem;
		height: 2.1875rem;
		border-radius: 50%;
		background-color: $color-primary;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: $play;
		background-size: 0.75rem;
	}
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.info__top {
	gap: 1.25rem;
	display: flex;
	align-items: center;
	align-content: center;

	.tz {
		padding: 0.5625rem 0.9375rem;
		border-radius: 1.25rem;
		font-size: 1.125rem;
		background-color: $color-bages;
	}

	.flag {
		display: flex;
		align-items: center;
		align-content: center;
		gap: 0.63rem;
		font-size: 1.125rem;
		line-height: 1.8;

		img {
			width: 1.25rem;
			height: 1.25rem;
			margin-top: -0.1rem;
		}
	}
}

.name {
	margin-top: 0.75rem;
	font-size: 2.5rem;
	line-height: 1.4;
}

.langs {
	margin-top: 0.75rem;
	font-size: 1.125rem;
	line-height: 1.8;
}

.desc {
	margin-top: 0.81rem;
	font-size: 1.125rem;
	max-width: 46.875rem;
	color: rgba(255, 255, 255, 0.6);
}

.socials {
	padding: 1.5rem;
	padding-top: 1rem;
	border-radius: 1.25rem;
	background-color: $color-gray2;

	.follow {
		font-size: 1.125rem;
		margin-bottom: 1rem;
	}

	.icons {
		display: flex;
		flex-wrap: wrap;
		gap: 0.3125rem;

		a {
			flex-shrink: 0;
			width: 4.4375rem;
			height: 4.4375rem;
			border-radius: 50%;
			background-color: #323232;
			border: 1px solid $color-text;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;

			svg {
				width: 1.36538rem;
				height: 1.36538rem;
			}
		}
	}
}

.profilePage {
	.photoWrap {
		width: calc(100% / 4 - 0.72rem);
	}
}

.addBtn {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 1880px) {
	.profilePage {
		.nameLoading {
			height: 3.5rem;
			width: 25rem;
		}

		.langsLoading {
			height: 1.875rem;
			width: 17rem;
		}

		.descLoading {
			height: 6.5rem;

			span {
				height: 1.25rem;
			}
		}

		.followLoading {
			height: 1.5rem;
			width: 10rem;
		}

		.iconLinkLoading {
			width: 3.25rem;
			height: 3.25rem;
		}

		.content {
			gap: 3.12rem;
		}

		.photoWrap {
			width: calc(100% / 3 - 0.72rem);
		}

		.photoInner {
			height: 32.625em;
		}

		.playBtn {
			height: 3.1875rem;
			padding: 0 1.25rem;
			font-size: 1rem;
		}

		.info__top {
			gap: 1.5rem;
		}

		.name {
			margin-top: 0.94rem;
			font-size: 1.75rem;
		}

		.langs {
			margin-top: 0.7rem;
			font-size: 1rem;
		}

		.desc {
			margin-top: 0.62rem;
			font-size: 1rem;
			max-width: inherit;
		}

		.socials {
			padding-top: 1.12rem;

			.follow {
				font-size: 1rem;
				margin-bottom: 0.75rem;
			}

			.icons {
				a {
					width: 3.25rem;
					height: 3.25rem;
					svg {
						width: 1rem;
						height: 1rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1140px) {
	.section {
		padding-top: 3.75rem;
	}

	.tzLoading {
		width: 4.9375rem;
		height: 2.3125rem;
	}

	.flagLoading {
		.fl {
			width: 1.125rem;
			height: 1.125rem;
		}

		span {
			height: 1.25rem;
			width: 7rem;
		}
	}

	.nameLoading {
		height: 2.25rem;
		max-width: 25rem;
		width: 100%;
	}

	.langsLoading {
		height: 1.5625rem;
		max-width: 18rem;
		width: 100%;
	}

	.descLoading {
		height: 5.5rem;

		span {
			height: 1.125rem;

			&:last-child {
				width: 40%;
			}
		}
	}

	.followLoading {
		height: 1.125rem;
		max-width: 13rem;
		width: 100%;
	}

	.iconLinkLoading {
		width: 3.25rem;
		height: 3.25rem;
	}

	.content {
		gap: 1.5rem;
	}

	.photoWrap {
		width: 20rem;
	}

	.photoInner {
		height: 33rem;
	}

	.playBtn {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		right: 1rem;
		padding: 0 1rem;
		font-size: 1rem;
		border-radius: 0.625rem;
	}

	.info__top {
		.tz {
			font-size: 1rem;
		}

		.flag {
			font-size: 1rem;

			img {
				width: 1.125rem;
				height: 1.125rem;
			}
		}
	}

	.name {
		margin-top: 0.6875rem;
		font-size: 1.625rem;
	}

	.langs {
		margin-top: 0.5625rem;
		font-size: 0.875rem;
	}

	.desc {
		margin-top: 1.25rem;
		font-size: 0.875rem;
		max-width: inherit;
	}

	.socials {
		padding: 1rem;
		margin-top: 1.5rem;

		.icons {
			display: flex;

			a {
				width: 3.25rem;
				height: 3.25rem;

				svg {
					width: 1.1rem;
					height: 1.1rem;
				}
			}
		}
	}

	.profilePage {
		.nameLoading {
			height: 2.25rem;
			max-width: 25rem;
			width: 100%;
		}

		.langsLoading {
			height: 1.5625rem;
			width: 100%;
		}

		.descLoading {
			height: 5.5rem;

			span {
				height: 1.125rem;
			}
		}

		.followLoading {
			height: 1.125rem;
			width: 100%;
		}

		.content {
			gap: 1.5rem;
		}

		.photoWrap {
			width: 20rem;
		}

		.photoInner {
			height: 33rem;
		}

		.playBtn {
			height: 3.4375rem;
			padding: 0 1rem;
		}

		.info__top {
			gap: 1.25rem;
		}

		.name {
			margin-top: 0.6875rem;
			font-size: 1.625rem;
		}

		.langs {
			margin-top: 0.5625rem;
			font-size: 0.875rem;
		}

		.desc {
			margin-top: 1.25rem;
			font-size: 0.875rem;
		}

		.socials {
			padding: 1rem;
			margin-top: 1.5rem;

			.follow {
				font-size: 1.125rem;
				margin-bottom: 1rem;
			}

			.icons {
				display: flex;

				a {
					width: 3.25rem;
					height: 3.25rem;

					svg {
						width: 1.1rem;
						height: 1.1rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 868px) {
	.content {
		flex-direction: column;
		display: flex;
		gap: 0;
	}
	.photoWrap {
		margin-top: 1.38rem;
	}

	.profilePage {
		.content {
			gap: 0;
		}
	}
}

@media screen and (max-width: 620px) {
	.photoWrap {
		width: 100%;
	}

	.photoInner {
		height: auto;
		padding-top: 145%;
	}

	.profilePage {
		.photoWrap {
			width: 100%;
		}

		.photoInner {
			height: auto;
		}
	}
	.addBtn {
		margin-bottom: 0;
	}
}
