@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
    padding: 4rem;
    max-height: 100vh;
    max-height: 100dvh;
    overflow: auto;
}

.item {
    height: 3.3125rem;
    border-radius: 1.25rem;
}

.titleLoading {
    width: 28.5rem;
    height: 2.3475rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 140%;
    }
}

.scheduleList {
    margin-top: 1.88rem;
    display: flex;
    flex-direction: column;
    gap: .62rem;
}

@media screen and (min-width: 1880px) {
}
