@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.profileContent {
	padding: 4rem;
	max-height: 100vh;
	max-height: 100dvh;
	overflow: auto;
}

.heading {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 1.375rem 1.5rem;

	h1 {
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 140%;
	}

	p {
		font-size: 0.875rem;
		line-height: 1.8;
		margin-top: 0.8rem;
	}

	button {
		flex-shrink: 0;
		text-align: center;
		padding: 0.9375rem 1.25rem;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.625rem;

		&::before {
			content: "";
			width: 0.9375rem;
			height: 0.75rem;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: $filter;
		}
	}
}

.countryGridCont {
	margin-top: 2rem;
}

.asidePanel {
	position: absolute;
	top: 1.25rem;
	bottom: 1.25rem;
	left: 1.25rem;
	z-index: 20;
	width: 20.375rem;
	max-width: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;

	.close {
		position: absolute;
		width: 1.875rem;
		height: 1.875rem;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		background-size: 1rem !important;
		background-image: $close !important;
		border-radius: 0.625rem;
		background-color: rgba(28, 28, 28, 0.6);
		top: 0;
		right: -0.625rem;
		transform: translateX(100%);
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}

	& > h2 {
		display: none;
	}

	& > aside {
		overflow: auto;
		height: calc(100vh - 2.5rem);
		height: calc(100dvh - 2.5rem);
		min-height: inherit;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@media screen and (min-width: 1880px) {
	.countryGridCont {
		& > ul {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media screen and (max-width: 1140px) {
	.profileContent {
		padding: 7.5rem 1rem 3.75rem 1rem;
	}

	.heading {
		h1 {
			font-size: 1.3125rem;
		}

		p {
			margin-top: 0.9375rem;
		}
	}

	.asidePanel {
		top: 5.5rem;
		bottom: 1rem;
		left: 1rem;
		z-index: 150;
		width: 21.4375rem;
		max-width: none;
		display: flex;
		flex-direction: column;

		.overlay {
			position: absolute;
			top: -5.5rem;
			left: -1rem;
			z-index: -1;
			width: 100vw;
			width: 100dvw;
			height: 100vh;
			height: 100dvh;
			background-color: rgba(0, 0, 0, 0.8);
		}

		.close {
			border-radius: 0;
			background: transparent;
			top: 1.625rem;
			right: 1rem;
			transform: none;
		}

		& > h2 {
			display: block;
			font-size: 1.3125rem;
			font-weight: 600;
			line-height: 1.4;
			padding: 1.5rem 1rem;
			border-radius: 1.25rem 1.25rem 0 0;
			background-color: #1c1c1c;
		}

		& > aside {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			height: auto;
			height: auto;
			width: 100%;
			border-radius: 0 0 1.25rem 1.25rem;

			& > div {
				height: auto;
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.heading {
		flex-direction: column;
		align-items: stretch;
		justify-content: stretch;

		button {
			margin: 0 auto;
			width: 100%;
			max-width: 21.4375rem;
		}
	}
}
