@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.map {
	padding-top: 9.625rem 0 6.25rem 0;
}

.top {
	@include flex-btv;
	flex-wrap: wrap;
}

.wrap {
	height: 46.1rem;
	margin-top: 2.5rem;
	position: relative;
	overflow: hidden;
}

.zones {
	& > g {
		&:hover {
			& > g > path {
				fill: red !important;
			}
		}
	}
}

.controls {
	position: absolute;
	z-index: 20;
	top: 10px;
	left: 10px;
	display: flex;
	gap: 8px;
	align-items: center;
	background: rgba(0, 0, 0, 0.55);
	padding: 6px 8px;
	border-radius: 10px;
	color: #fff;

	button {
		background: #222;
		color: #fff;
		border: 1px solid #2d2d2d;
		padding: 4px 8px;
		border-radius: 8px;
		cursor: pointer;
		&:hover {
			background: #2a2a2a;
		}
	}
}

.viewport {
	width: 100%;
	height: 100%;
	position: relative;
	overscroll-behavior: contain;
	touch-action: none;
	user-select: none;
	touch-action: auto;
}
.svg {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;

	& > g {
		width: auto !important;
		height: auto !important;
	}
}

.scale {
	position: absolute;
	left: 0;
	right: 0;
	height: 28px;
	display: flex;
	z-index: 15;
	pointer-events: none;
	backdrop-filter: blur(2px);
	background-color: orange;
	&.top {
		top: 0;
	}
	&.bottom {
		bottom: 0;
	}
}
.scaleGroup {
	display: flex;
}
.scaleCell {
	border-right: 1px solid rgba(255, 255, 255, 0.18);
	color: #fff;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	white-space: nowrap;
}

.viewport {
	position: relative; // важливо для абсолютного тултіпа
	overflow: hidden;
}

.tooltip {
	position: absolute;
	pointer-events: none; // не перехоплюємо мишу
	max-width: 280px;
	background: rgba(22, 22, 22, 0.92);
	color: #fff;
	padding: 10px 12px;
	border-radius: 10px;
	font-size: 13px;
	line-height: 1.25;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
	transform: translateZ(0); // чіткіше рендериться
	will-change: left, top;
	z-index: 5;

	b,
	strong {
		font-weight: 700;
	}
	small {
		opacity: 0.9;
	}

	img {
		width: 1rem;
		height: auto;
	}
}

.flagsList {
	display: flex;
	align-items: center;
	align-content: center;

	img {
		margin-left: -0.25rem;

		&:first-child {
			margin-left: 0;
		}
	}

	span {
		margin-left: 0.25rem;
		font-size: 0.75rem;
		opacity: 0.8;
	}
}

.topTool {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	strong {
		line-height: 1.2;
	}
}

.topToolC {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	strong {
		line-height: 1.2;
	}
}

.toolTime {
	font-size: 0.75rem;
	margin-top: 0.5rem;
	opacity: 0.8;
}

.toggleWrap {
	display: flex;
	border: 0.0625rem solid $color-light;
	border-radius: 6.25rem;
	overflow: hidden;
	background-color: $color-dark-rgba;
}

.toggleItem {
	flex: 1 1 auto;
	color: $color-light;
	padding: 1.25rem 1.5rem;
	min-width: 8rem;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: normal;
	border: none;
	cursor: pointer;
	position: relative;
	text-align: center;

	span {
		position: relative;
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		border-radius: 6.25rem;
		top: 0.125rem;
		bottom: 0.125rem;
		left: 0.125rem;
		right: 0.125rem;
		opacity: 0;
		transition: 0.3s;
	}

	&:hover {
		&::after {
			opacity: 1;
			background-color: $color-dark-rgba;
		}
	}

	&[data-state="on"] {
		&::after {
			opacity: 1;
			background-color: $color-primary;
		}
	}
}

//---
.map-hint-overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.4);
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeInOut 3s ease forwards;
}
.map-hint-content {
	text-align: center;
	color: #fff;
}
.map-hint-content img {
	width: 100px; /* або під анімацію Lottie */
	height: auto;
	margin-bottom: 0.5rem;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@media screen and (max-width: 1140px) {
	.map {
		padding: 3.375rem 0 3.75rem 0;
	}

	.wrap {
		height: 49vw;
	}

	.toggleItem {
		padding: 0.9375rem 1.5rem;
		font-size: 0.875rem;
	}
}

@media screen and (max-width: 768px) {
	.top {
		flex-direction: column;
		align-items: start;
		gap: 1.875rem 0;
	}

	.toggleWrap {
		margin: 0 auto;
		width: 100%;
	}
}

@media screen and (orientation: portrait) {
	.wrap {
		height: calc(100svh - 7rem);
	}
}
