@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding: 6.25rem 0;
	position: relative;

	&.full {
		min-height: calc(100dvh - 20.066rem);
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}

.profileSlider {
	padding-top: 0;
}

.sliderLoading {
	height: 24.875rem;
	margin-bottom: 2.44rem;
}

.slider {
	border-radius: 1.25rem;
	overflow: hidden;
	width: 100%;
}

.profileSub {
    padding-top: 5rem;
}

.subscribeLoading {
    height: 7.144rem;
}

.subscribe {
    background-color: $color-yellow;
    padding: 1.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.content {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.formSide {
	width: 43.875rem;
	border-radius: 2.5rem;
	padding: 3rem 3.75rem;
	background-color: $color-gray2;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 1.875rem;
	line-height: 1.4;
}

.socialLoginList {
	display: flex;
	flex-direction: column;
	margin-top: 2.3rem;
	gap: 0.94rem;

	.social {
		height: 3.125rem;
		border-radius: 0.9375rem;
		border: 1px solid rgba(255, 255, 255, 0.6);
		background: rgba(255, 255, 255, 0.1);
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		gap: 0.75rem;
		font-size: 1.125rem;

		img {
			height: 1.875rem;
			width: auto;
		}
	}
}

.divider {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 1.88rem;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		height: 1px;
		background: rgba(255, 255, 255, 0.6);
		width: calc(50% - 2.5rem);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

.simpleLogin {
	margin-top: 1.64rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	label {
		margin-bottom: 0.5rem;
		display: flex;
	}
}

.checkAgree {
	label {
		margin: 0;
	}
}

.bottomText {
	margin-top: 2rem;
	text-align: center;
	font-size: 1.3125rem;

	a {
		color: $color-primary;
	}
}

.error {
	margin-top: 0.5rem;
	color: #f94a51;
}

.imageSide {
	position: absolute;
	top: 0;
	right: 43.875rem;

	img {
		width: 52.9375rem;
		height: auto;
		display: block;
	}
}

.submitBtn {
	position: relative;

	span {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: -0.0625rem;
		left: -0.0625rem;
		right: -0.0625rem;
		bottom: -0.0625rem;
		z-index: 2;
		background-color: $red2;
		transition: all 0.15s ease-in;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 3;
			transform: translateX(-50%) translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			border: 0.25rem solid $color-light;
			border-bottom-color: transparent;
			border-radius: 50%;
			display: inline-block;
			box-sizing: border-box;
			animation: rotation 1s linear infinite;
		}
	}
}
.load {
	span {
		opacity: 1;
		visibility: visible;
	}
}

.forgetPass {
	color: $color-primary;
	font-size: 1.125rem;
	font-weight: 500;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
}

.simpleFormWrapper {
	margin: 0 auto;
	max-width: 43.875rem;
	width: 100%;
	border-radius: 2.5rem;
	background-color: $color-gray2;
	padding: 3rem 3.75rem;
	padding-bottom: 3.44rem;
}

.ResetBtn {
	margin-top: 0.5rem;
}

.bottomTextReset {
	margin-top: 0.5rem;
	color: $color-primary;
}

.infoBox {
	border-radius: 1.25rem;
	background-color: $color-yellow;
	padding: 1rem 1.5rem;
	color: $color-dark;

	&.error {
		background-color: $red;
		border: 1px solid $color-primary;
	}
}

@keyframes rotation {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}

.logintBtn {
	margin-top: 1rem;
}

@media screen and (max-width: 1140px) {
	.section {
		padding: 3.25rem 0;

		&.full {
			min-height: calc(100dvh - 30.293rem);
		}
	}
	.formSide {
		max-width: 26rem;
		border-radius: 1.5rem;
		padding: 1.5rem 1rem;
		margin: 0 auto;
	}
	.title {
		font-size: 1.625rem;
	}
	.socialLoginList {
		margin-top: 1.5rem;
		gap: 0.62rem;

		.social {
			height: 2.5rem;
			border-radius: 0.625rem;
			font-size: 0.875rem;

			img {
				height: 1.4375rem;
			}
		}
	}

	.divider {
		margin-top: 1rem;

		&::before,
		&::after {
			width: calc(50% - 2rem);
		}
	}

	.simpleLogin {
		margin-top: 0.88rem;
		gap: 1.25rem;

		label {
			margin-bottom: 0.25rem;
			font-size: 0.875rem;
		}
	}

	.bottomText {
		margin-top: 1.25rem;
		font-size: 0.9375rem;
	}

	.error {
		margin-top: 0.25rem;
		font-size: 0.875rem;
	}

	.imageSide {
		display: none;
	}
	.forgetPass {
		font-size: 0.9375rem;
		margin-top: -0.25rem;
		margin-bottom: 0;
	}

	.simpleFormWrapper {
		margin: 0 auto;
		max-width: 26rem;
		border-radius: 1.5rem;
		padding: 1.5rem 1rem;
	}

	.ResetBtn {
		margin-top: 0.25rem;
	}

	.bottomTextReset {
		margin-top: 0.25rem;
	}

	.infoBox {
		border-radius: 1rem;
		padding: 1rem;
		font-size: 0.875rem;
	}

	.logintBtn {
		margin-top: 0.25rem;
	}
}

@media screen and (max-width: 868px) {
	.formSide,
	.simpleFormWrapper {
		max-width: 100%;
		border-radius: 0;
		padding: 0;
		background-color: transparent;
	}
}
