@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.section {
	padding: 5.5rem 0 6.25rem 0;
	position: relative;
}

.loadingTitle {
	height: 3.05rem;
	width: 30rem;
	display: block;
}

.loadingTestCont {
	margin-top: 1.37rem;
	display: flex;
	flex-direction: column;
	height: 6.069rem;
	justify-content: space-between;

	span {
		width: 100%;
		height: 1.5rem;

		&:last-child {
			width: 50%;
		}
	}
}

.loadingCard {
	height: 14.5625rem;
}

.loadingBtn {
	width: 13.375rem;
	height: 4.4375rem;
}

.background {
	position: absolute;
	min-width: 125.625rem;
	height: 63.6875rem;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	bottom: -9.187rem;

	img {
		@include img-cover;
	}
}

.content {
	position: relative;
	z-index: 2;
}

.header {
	max-width: 50rem;
}

.title {
	font-size: 2.5rem;
}

.cardsCont {
	margin-top: 3.83rem;
	position: relative;
}

.cards {
	position: relative;
	justify-content: space-between;
	display: flex;
	z-index: 1;
}

.card {
	flex-shrink: 0;
	width: 24.375rem;
	height: 24.375rem;
	padding: 1.37rem;
	display: flex;
	align-items: center;
	align-content: center;
	position: static;
	align-items: flex-start;
	align-content: flex-start;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("/public/aboutPage/circle.png");

	&:nth-child(1) {
		margin-top: 4.12rem;
	}

	&:nth-child(2) {
		margin-top: 0;
		transform: rotate(-30deg);

		.cardInner {
			transform: rotate(30deg);
		}
	}

	&:nth-child(3) {
		margin-top: 1.81rem;
		transform: rotate(-18.23deg);

		.cardInner {
			transform: rotate(18.23deg);
		}
	}

	.iconWrapper {
		width: 2.5rem;
		height: 2.5rem;
		position: relative;

		img {
			@include img-contain;
		}
	}
}

.cardInner {
	background-color: $color-gray2;
	border-radius: 50%;
	width: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	padding: 2.12rem;
	height: 100%;
	position: relative;
	z-index: 2;
}

.text {
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 1.4;
	position: relative;
	text-align: center;
}

.dec {
	position: absolute;
	width: 13.09206rem;
	height: 10.60906rem;
	top: -8.6rem;
	right: 23.8rem;
	transform: rotate(-107.692deg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-image: url("/public/aboutPage/dec2.png");
	z-index: 3;
	filter: blur(5px);
}
.dec2 {
	display: none;
}

.wave {
	position: absolute;
	left: 50%;
	top: 7.05rem;
	transform: translateX(-50%);
	min-width: 121rem;
	width: 121rem;
	height: 15.49744rem;
}

.actions {
	display: flex;
	justify-content: center;
	margin-top: 0.92rem;
}

@media screen and (max-width: 1140px) {
	.section {
		padding: 3.375rem 0 3.75rem 0;
	}

	.background {
		height: 100%;
		bottom: 0;
	}

	.header {
		max-width: 43.75rem;
	}

	.title {
		font-size: 1.3125rem;
	}
	.loadingTitle {
		height: 1.875rem;
		width: 18.75rem;
	}

	.cardsCont {
		margin-top: 0;
		padding-top: 2.125rem;
	}
	.loadingTestCont {
		padding-top: 2.125rem;
		height: 5rem;

		span {
			height: 1.25rem;
		}
	}

	.card {
		width: 12.875rem;
		height: 12.875rem;
		padding: 0.8125rem;

		&:nth-child(1) {
			margin-top: 0;
			margin-top: 2.5rem;
		}
		&:nth-child(3) {
			margin-top: 0;
			margin-top: 1rem;
		}

		.iconWrapper {
			width: 1.875rem;
			height: 1.875rem;
		}
	}
	.loadingCard {
		height: 12.875rem;
	}

	.cardInner {
		padding: 1rem;
	}

	.text {
		font-size: 1rem;
		font-weight: 400;
	}

	.dec {
		width: 6.9331rem;
		height: 5.6182rem;
		top: -2.35rem;
		right: 14.425rem;
		filter: blur(2.5px);
	}

	.wave {
		min-width: auto;
		width: 100%;
		min-width: auto;
		height: auto;
		top: 3.125rem;
	}

	.actions {
		margin-top: 2.5rem;
	}
	.loadingBtn {
		width: 11.25rem;
		height: 2.875rem;
	}
}

@media screen and (max-width: 868px) {
	.cardsCont {
		overflow: hidden;
	}

	.cards {
		align-items: center;
		justify-content: stretch;
		flex-direction: column;
		gap: 2.75rem 0;
	}

	.card {
		width: 12.875rem;
		height: 12.875rem;
		padding: 0.8125rem;

		&:nth-child(1) {
			margin-top: 0;
			margin-left: -4rem;
		}
		&:nth-child(2) {
			margin-right: -4rem;
		}
		&:nth-child(3) {
			margin-top: 0;
			margin-left: -4rem;
		}

		.iconWrapper {
			width: 1.875rem;
			height: 1.875rem;
		}
	}

	.dec {
		top: 11.25rem;
		transform: rotate(-80deg) rotateY(180deg) !important;
		right: 1.25rem;
	}
	.dec2 {
		display: block;
		position: absolute;
		bottom: 13.125rem;
		left: 0;
		width: 6.9331rem;
		height: 5.6182rem;
		transform: rotate(65deg) !important;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-image: url("/public/aboutPage/dec2.png");
		z-index: 3;
		filter: blur(2.5px);
	}

	.wave {
		top: 8.75rem;
		left: 50%;
		transform: translateX(-50%) rotate(90deg) rotateY(180deg);
		width: 51.375rem;
		min-width: 51.375rem;
		height: 12.6875rem;
	}
}
